.anabaslik {
    color: pink;
}

.baslikiki {
    color: purple;
  
}

h1 {
    color:pink;
    text-align: center;
}

#urunler {
    text-align: center;
}



#ana {
    text-align: center;
}

#ikinci  {
    text-align: center;
   
}

#ikinci ul li {
    text-align: center;
}